  ol {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px
}
.title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #7e89a7;
}
a link {
    color: black;
}
a visited {
    color: cornflowerblue;
}
a hover {
    color: #7e89a7;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header {
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

