.title {
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 72px
}
.header {
    text-align: center;
    color: white;
    font-family: helvetica;
}
.navbar {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
#triangle {
    margin: auto;
    width: 0;
    height: 0;
    border-bottom: 100px solid #7e89a7;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}